.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
mat-form-field {
    width: 100%;
    padding: 2px 20px;
    margin-top: -2px;
}
::ng-deep .mat-form-field-outline {
    background-color: white;
    border-radius: 36px;
}
::ng-deep .mat-form-field-outline-start   {
    display: none;
}
::ng-deep .mat-form-field-outline-end {
    display: none;
}
::ng-deep .mat-form-field-wrapper {
    padding: 0;
    margin-top: 0.5em !important;
}
::ng-deep .mat-form-field-infix { 
    padding: 0.5em 0px !important;
    border-width: 0 ;
}