<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <nav fxFlex="none" mat-tab-nav-bar backgroundColor="primary">
        <a mat-tab-link (click)="configDone()">
            <mat-icon>save</mat-icon>
        </a>
        <a mat-tab-link (click)="configBackgroundImage()">
            <mat-icon>download</mat-icon>
        </a>
        <a mat-tab-link (click)="configText()">
            <mat-icon>text_fields</mat-icon>
        </a>
        <div fxFlex></div>
        <a mat-tab-link (click)="back();">
            <mat-icon>close</mat-icon>
        </a>
    </nav>
    <canvas-editor fxFlex="grow"></canvas-editor>
</div>
<sheet [data]="backgroundImage">
    <div sheet-item class="w100 vh10 relative">
        <carousel [num]="3" [marginLeft]="18">
            <div carousel-item *ngFor="let url of bgImages; let i = index">
                <a href="javascript:void(0);" (click)="backgroundImageCreate(url)" >
                    <img class="w90" src="{{url}}" >
                </a>
            </div>
        </carousel>
    </div>
    <button mat-stroked-button color="accent" (click)="backgroundImageRemove()"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">delete_forever</mat-icon><div fxFlex>删除</div></div></button>
    <br><br>
</sheet>
<sheet [data]="text">
    <form [formGroup]="formText" style="width:100%" sheet-item>
        <mat-form-field>
            <mat-label>字体风格</mat-label>
            <mat-select [formControl]="font">
                <mat-option *ngFor="let font of fonts; let i = index" [value]="font">
                  {{font.family}} {{font.style}} {{font.weight}} {{font.variant}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-slider thumbLabel tickInterval="1000" min="6" max="128" [formControl]="size"></mat-slider>
        <mat-form-field>
            <mat-label>内容</mat-label>
            <textarea matInput type="text" [formControl]="str"></textarea>
            <mat-error *ngIf="str.hasError('invalid')">{{str.errors.msg}}</mat-error>
        </mat-form-field>xx
        <color-picker></color-picker>
        <button mat-stroked-button color="accent" (click)="textRemove()"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">delete_forever</mat-icon><div fxFlex>删除</div></div></button>
        <br><br>
    </form>
</sheet>
<sheet [data]="config">
    <form [formGroup]="formConfig" style="width:100%" sheet-item>
        <mat-form-field>
            <input matInput placeholder="名称" type="tel" [formControl]="mobile">
            <mat-icon matPrefix color="accent">priority_high</mat-icon>
            <mat-error *ngIf="mobile.hasError('invalid')">{{mobile.errors.msg}}</mat-error>
        </mat-form-field >
        <mat-form-field>
            <input matInput placeholder="价格" type="text" [formControl]="code">
            <mat-icon matPrefix color="accent">monetization_on</mat-icon>
            <mat-error *ngIf="code.hasError('invalid')">{{code.errors.msg}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="数量" type="text" [formControl]="code">
            <mat-icon matPrefix color="accent">score</mat-icon>
            <mat-error *ngIf="code.hasError('invalid')">{{code.errors.msg}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="检票ID" type="text" [formControl]="code">
            <mat-icon matPrefix color="accent">perm_identity</mat-icon>
            <mat-error *ngIf="code.hasError('invalid')">{{code.errors.msg}}</mat-error>
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="configInspectin()"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">playlist_add_check</mat-icon><div fxFlex>检票字段设置</div><mat-icon fxFlex="none">arrow_forward_ios</mat-icon></div></button>
        <button mat-stroked-button color="accent" (click)="configInspectout()"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">notification_important</mat-icon><div fxFlex>结票通知设置</div><mat-icon fxFlex="none">arrow_forward_ios</mat-icon></div></button>
        <button mat-flat-button color="accent"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">done</mat-icon><div fxFlex>完成</div></div></button>
        <mat-slide-toggle [formControl]="isModInc">{{isModInc.value? '结票自动恢复数量' : '结票数量清0'}}</mat-slide-toggle>
        <br><br>
    </form>
</sheet>
<sheet [data]="inspect">
    <form [formGroup]="formInspect" style="width:100%" sheet-item>
        <mat-form-field *ngFor="let ctrl of formInspect.controls | keyvalue; let i=index">
            <input matInput  type="tel" placeholder="检票字段{{i}}" [formControl]="formInspect.controls[ctrl.key]">
            <mat-icon matPrefix color="accent">filter_{{i > 9 ? '9_plus' : i }}</mat-icon>
            <button mat-icon-button matSuffix class="title-icon-suffix" (click)="inspectRemove(ctrl.key)"><mat-icon  color="accent">delete_forever</mat-icon></button>
            <mat-error *ngIf="formInspect.controls[ctrl.key].hasError('invalid')">{{formInspect.controls[ctrl.key].errors.msg}}</mat-error>
        </mat-form-field >
        <button mat-stroked-button color="accent" (click)="inspectAppend()"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">add</mat-icon><div fxFlex>增加</div></div></button>
        <button mat-flat-button color="accent" (click)="configDone()"><div fxLayout="row" fxLayoutAlign="space-between center"><mat-icon fxFlex="none">arrow_back_ios</mat-icon><div fxFlex>返回</div></div></button>
        <br><br>
    </form>
</sheet>