mat-form-field {
    width: 100%;
}
.mat-flat-button, .mat-stroked-button {
    width: 100%;
    margin-bottom: 1rem;
}
.title-icon-suffix {
    width: 1.125em !important;
    height: 1.125em !important;
    font-size: 22px !important;
}
mat-slider {
    width: 100%;
}
.square-size{
    width: 100%;
    padding: 0 16px 0 0
}